<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo/logo.png" alt="Logo" width="120" height="80" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active-link" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/rooms" routerLinkActive="active-link" >Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/gallery" routerLinkActive="active-link" >Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active-link" >About</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-end align-items-lg-end me-3"*ngIf="isLoggedIn">
        <mat-icon class="mx-1 bg-danger text-light rounded-circle text-center fs-5">person</mat-icon>
        <a>{{ userName }}</a>
      </ul>
      <ul class="navbar-nav d-flex justify-content-end align-items-lg-end">
        <section class="d-flex align-items-center me-2">
          <mat-button-toggle-group name="lang" aria-label="Font Style">
            <mat-button-toggle value="en">EN</mat-button-toggle>
            <mat-button-toggle value="ar">Ar</mat-button-toggle>
          </mat-button-toggle-group>
        </section>
        <button matFab extended class="fw-bold" color="accent" routerLink="/login">
        Booking Now
      </button>
      <div class="flex">
        <a class="nav-link" *ngIf="isLoggedIn" aria-current="page" (click)="logOut()">log out</a>
      </div>
      </ul>
    </div>
  </div>
</nav>
